@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,italic&display=swap);

@import url(https://fonts.googleapis.com/css?family=Italiana:regular&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-clock:before {
  content: "\e900";
}

._icon-geo:before {
  content: "\e901";
}

._icon-Inst:before {
  content: "\e902";
}

._icon-Negativ:before {
  content: "\e903";
}

._icon-play:before {
  content: "\e904";
}

._icon-quate:before {
  content: "\e905";
}

._icon-slider-arrow:before {
  content: "\e906";
}

._icon-tik-tok:before {
  content: "\e907";
}

._icon-Twit:before {
  content: "\e908";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #222220;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

q {
  text-decoration: none;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 100rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.block-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
  max-width: 500px;
}

.block-header__label {
  color: #222220;
  font-weight: 400;
  line-height: 1.5;
  text-transform: capitalize;
}

.block-header__title {
  font-family: "Italiana";
  font-size: 48px;
  font-weight: 400;
  color: #9D875C;
  text-transform: capitalize;
}

.block-header__text {
  max-width: 458px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  font-weight: 400;
  line-height: 1.56;
}

.block-header__text span {
  font-style: italic;
  font-weight: 400;
  line-height: 1.56;
}

._tx-center {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  position: fixed;
  z-index: 50;
  width: 100%;
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 152px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@supports (width: clamp( 5rem , 2.9083969466rem  +  10.4580152672vw , 13.5625rem )) {
  .header__logo {
    width: clamp( 5rem , 2.9083969466rem  +  10.4580152672vw , 13.5625rem );
  }
}

@supports not (width: clamp( 5rem , 2.9083969466rem  +  10.4580152672vw , 13.5625rem )) {
  .header__logo {
    width: calc(5rem + 8.5625 * (100vw - 20rem) / 81.875);
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports ((-moz-column-gap: clamp( 0.625rem , 0.0601145038rem  +  2.8244274809vw , 2.9375rem )) or (column-gap: clamp( 0.625rem , 0.0601145038rem  +  2.8244274809vw , 2.9375rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 0.625rem , 0.0601145038rem  +  2.8244274809vw , 2.9375rem );
       -moz-column-gap: clamp( 0.625rem , 0.0601145038rem  +  2.8244274809vw , 2.9375rem );
            column-gap: clamp( 0.625rem , 0.0601145038rem  +  2.8244274809vw , 2.9375rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , 0.0601145038rem  +  2.8244274809vw , 2.9375rem )) or (column-gap: clamp( 0.625rem , 0.0601145038rem  +  2.8244274809vw , 2.9375rem ))) {
  .menu__list {
    -webkit-column-gap: calc(0.625rem + 2.3125 * (100vw - 20rem) / 81.875);
       -moz-column-gap: calc(0.625rem + 2.3125 * (100vw - 20rem) / 81.875);
            column-gap: calc(0.625rem + 2.3125 * (100vw - 20rem) / 81.875);
  }
}

.menu__link {
  color: #C1AB81;
  font-weight: 300;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.action-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@supports ((-moz-column-gap: clamp( 0.625rem , 0.0601145038rem  +  2.8244274809vw , 2.9375rem )) or (column-gap: clamp( 0.625rem , 0.0601145038rem  +  2.8244274809vw , 2.9375rem ))) {
  .action-header {
    -webkit-column-gap: clamp( 0.625rem , 0.0601145038rem  +  2.8244274809vw , 2.9375rem );
       -moz-column-gap: clamp( 0.625rem , 0.0601145038rem  +  2.8244274809vw , 2.9375rem );
            column-gap: clamp( 0.625rem , 0.0601145038rem  +  2.8244274809vw , 2.9375rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , 0.0601145038rem  +  2.8244274809vw , 2.9375rem )) or (column-gap: clamp( 0.625rem , 0.0601145038rem  +  2.8244274809vw , 2.9375rem ))) {
  .action-header {
    -webkit-column-gap: calc(0.625rem + 2.3125 * (100vw - 20rem) / 81.875);
       -moz-column-gap: calc(0.625rem + 2.3125 * (100vw - 20rem) / 81.875);
            column-gap: calc(0.625rem + 2.3125 * (100vw - 20rem) / 81.875);
  }
}

.action-header__link {
  color: #C1AB81;
  font-weight: 300;
  line-height: 1.5;
  display: inline-block;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #222220;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
}

.social-list li a {
  color: #C1AB81;
}

.btn {
  font-weight: 300;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 40px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  background-color: #FFF;
}

.btn--border {
  background: transparent;
  border: 1px solid #C1AB81;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: #C1AB81;
}

.btn--border::before {
  display: none;
}

.no-webp .btn::before{
  background: url("../img/btn.jpg") center no-repeat; }

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease 0s;
  -o-transition: opacity 0.4s ease 0s;
  transition: opacity 0.4s ease 0s;
}

.btn span {
  position: relative;
}

.hero-bl {
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: 58%;
}

.hero-bl__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 61.99875em) {
  .header__container {
    min-height: 100px;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    min-height: 70px;
    -ms-grid-columns: auto 1fr auto auto;
    grid-template-columns: auto 1fr auto auto;
  }

  .header__logo {
    position: relative;
    z-index: 5;
  }

  .header__logo path {
    fill: #FFF;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    background-color: #C1AB81;
    padding: 140px 15px 30px 15px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    z-index: 2;
    background-color: #C1AB81;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

@supports (height: clamp( 4.375rem , 3.1230916031rem  +  6.2595419847vw , 9.5rem )) {
    .menu__body::before {
      height: clamp( 4.375rem , 3.1230916031rem  +  6.2595419847vw , 9.5rem );
    }
}

@supports not (height: clamp( 4.375rem , 3.1230916031rem  +  6.2595419847vw , 9.5rem )) {
    .menu__body::before {
      height: calc(4.375rem + 5.125 * (100vw - 20rem) / 81.875);
    }
}

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }

  .menu__link {
    color: #FFF;
    font-size: 24px;
  }

  .action-header {
    padding-top: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .action-header .btn {
    color: #FFF;
    border: 1px solid #FFF;
  }

  .action-header__link {
    color: #FFF;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #FFF;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #957f50;
  }

  .action-header__link:hover {
    color: #957f50;
  }

  .btn--border:hover {
    background-color: #C1AB81;
    color: #FFF;
  }

  .btn:hover::before {
    opacity: 0.8;
  }
}

.webp .btn::before{ background: url(../img/btn.webp) center no-repeat; }